/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width : 1400px) {
	#delivery_type + .select2-container{
		min-width: 260px;
	}
	.choice_button label{
		padding: 10px 9px;
	}
	label.label-small{
		font-size: 10px;
	}
	.form-group.select-group.d-flex{
		flex-flow: column;
	}
	.form-group.select-group.d-flex .select2:last-child .select2-selection--single{
		border-left: var(--border);
	}
	#delivery_type + .select2 .select2-selection--single{
		border-left: var(--border) !important;
	}
}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {

}

/* md <= Large (lg) */
@media (max-width : 992px) {

}

/* sm <= Medium (md) */
@media (max-width : 768px) {

}

/* xs <= Small (sm) */
@media (max-width : 576px) {

}


/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width : 0) {

}

/* Small (sm) */
@media (min-width : 576px) {

}

/* Medium (md) */
@media (min-width : 768px) {

}

/* Large (lg) */
@media (min-width : 992px) {

}

/* Extra large (xl) */
@media (min-width : 1200px) {

}

/* Extra extra large (xxl) */
@media (min-width : 1400px) {

}
